h1 {
  text-align: center;
  background-color:  rgba(71, 99, 255, 0.2);
  border-style: outset;
}

h2 {
  text-align: left;
  background-color:  rgba(71, 99, 255, 0.2);
  border-style: outset;
}

body {
   background-image: url("car1.jpg");
   background-repeat: 2;
}

p {
  text-align: left;
  font-family:Courier New;
  font-size: 20px;
  font-weight: bold;
  font-style: oblique;
  padding-bottom: 10px;

}



